/*  PROGRAM:	style.css									*/
/*	   TYPE:	css											*/
/*	COMMENT:												*/
/* 				Style sheet for HW-Wireframe.html			*/
/*	HISTORY:												*/
/*		Date:									By 			*/
/*		08/21/16	Initial design & coding 	M.T.Holland	*/
	
body {
	border:10px;
	background: #777;
	padding: 10px;
	margin:15px;
	}	

header {
	height: 50px;
	background:blue;
}
nav {
	height: 50px;
	background:green;
}													
section {
	padding: 2%;
	margin:2%;
	border:2%;
	float: left;
	height: 300px;
	width: 40%;
	background:red;
}
article {
	padding: 2%;
	margin:2%;
	border:2%;
	height: 200px;
	background:yellow;
}
div#h1h2h3 {
	padding: 2%;
	margin:2%;
	border:2%;
	height:40px;
	background:blue;	
}
div#p {
	padding: 2%;
	margin:2%;
	border:2%;
	height:40px;
	background:blue;	
}
p {
	text-align: center;
}

aside {
	padding: 2%;
	margin:2%;
	border:2%;
	float: right;
	height: 300px;
	width: 40%;
	background:blue;
}

footer {
	padding: 2%;
	margin:2%;
	border:2%;
	clear:both;
	height: 50px;
	background:yellow;
}


