/*  PROGRAM:	style.css									*/
/*	   TYPE:	css											*/
/*	COMMENT:												*/
/* 				Style sheet for HW-Wireframe.html			*/
/*	HISTORY:												*/
/*		Date:									By 			*/
/*		08/21/16	Initial design & coding 	M.T.Holland	*/
/*															*/
div#container {
	width: 100%;
	margin: 20px auto;
	background: #FFFFFF;
	padding: 0px;
}

div#content {
	width: 800px;
	padding-top: 100px
	background:yellow;
}

div#header {
	width: 100%;
	height: 100px;
	background: green;
	color:white;
	position: absolute;
	top: 0px;
}

